<div class='optin-container'>
    <div ng-transclude class='brand-logo'></div>
    <div class='input-wrapper'>
        <form name='signupForm' action='' method='get' novalidate>
            <div class='half-input-wrapper'>
                <input name='first-name' placeholder='first name' />
            </div>
            <div class='half-input-wrapper'>
                <input name='last-name' placeholder='last name' />
            </div>
            <div class='full-input-wrapper'>
                <input name='email' type='email' placeholder='email' />
            </div>
            <div class='full-input-wrapper'>
                <input type='submit' value='Send Info' />
            </div>
        </form>
    </div>
    <div style='clear:both'></div>
</div>
